[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hydra-core = "*"
openai = "*"
spacy = "*"
tiktoken = "*"
pyfiglet = "*"
pytest = "*"
dearpygui = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.11"
